@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
 *{
  font-family: Outfit;
 }
.active {
  background-color: #ffffff;
  border-color: #c586a5 ;
}
select , input, textarea {
border : 1px solid #c586a5;
outline-color: #c586a5;
border-radius: 4px;
}
