
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Pinyon+Script&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
a.active hr {
    display: block;
}
* {
    font-family: Outfit;
}
.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }
  ::-webkit-scrollbar{
    display: none;
  }
  @media (max-width: 340px) {
    a.active{
        background-color: black;
        color:aliceblue;

    }
  }
  .elegant-script {
    font-family: 'Pinyon Script', cursive;
    font-weight: 400;
}
  
.great-vibes {
  font-family: 'Great Vibes', cursive;
  font-weight: 400;
}
.italianno {
  font-family: 'Italianno', cursive;
  font-weight: 400;
}

::-webkit-scrollbar{
  display: none;
}